table {
    margin-left:auto; 
    margin-right:auto; 
    width:90%;
        border-collapse: separate;
        border-spacing: 5px 5px;
}
.highlighted {
    -webkit-box-shadow: 0 0 8px #FF0000;
    -moz-box-shadow: 0 0 8px #FF0000;
    box-shadow: 0 0 8px #FF0000;
    cursor:pointer;
}
input {
     width:6em;
}