<!DOCTYPE html>
<html>
    <head>
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <!-- <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a> -->
            <a href="/">
	    <img src="/img/logo.png">
	    </a>
	    <p></p>
          </div>
			
<!-- global menu -->	
	<a href="/">
	<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span></button></a>
<!-- button 1-->			
	<div class="btn-group">
  		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    		Оборудование
			<span class="caret"></span>
    			<span class="sr-only">Toggle Dropdown</span>
  		</button>
  		<ul class="dropdown-menu" role="menu">
    			<li><a href="/hardware/iiv.html">Измеритель интервалов времени</a></li>
  		</ul>
	</div>
<!-- button 2-->			
	<div class="btn-group">
  		<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
    		Программы
			<span class="caret"></span>
    			<span class="sr-only">Toggle Dropdown</span>
  		</button>
  		<ul class="dropdown-menu" role="menu">
    			<li><a href="/software/sostav.html">Состав продуктов взрыва</a></li>
    			<li><a href="/software/detonation.html">Параметры детонации ВВ</a></li>
  		</ul>
	</div>
<!-- button 3-->			
	<div class="btn-group">
		<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    		Статьи
			<span class="caret"></span>
    			<span class="sr-only">Toggle Dropdown</span>
  		</button>
  		<ul class="dropdown-menu" role="menu">
    			<li><a href="/articles/safety.html">Безопасность ВР</a></li>
    			<li><a href="/articles/detonation.html">Детонационные процессы</a></li>
    			<li><a href="/articles/destruction.html">Разрушение горных пород</a></li>
    			<li><a href="/articles/recepies.html">Рецептура ВВ</a></li>
  		</ul>
	</div>
<!-- button 4-->	
	<div class="btn-group">
		<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
    		Библиотека
			<span class="caret"></span>
    			<span class="sr-only">Toggle Dropdown</span>
  		</button>
  		<ul class="dropdown-menu" role="menu">
    			<li><a href="/library/patents.html">Патенты</a></li>
    			<li><a href="/library/monographs.html">Монографии</a></li>
    			<li><a href="/library/textbooks.html">Учебники и пособия</a></li>
  		</ul>
	</div>
<!-- button 5-->	
	<div class="btn-group">
		<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    		Авторы
			<span class="caret"></span>
    			<span class="sr-only">Toggle Dropdown</span>
  		</button>
  		<ul class="dropdown-menu" role="menu">
    			<li><a href="/authors/kalyakin.html">Калякин С.А.</a></li>
    			<li><a href="/authors/labinskiykn.html">Лабинский К.Н.</a></li>
    			<li><a href="http://www.labinskiy.org.ua/" target="_blank">Лабинский Н.Н.</a></li>
  		</ul>
	</div>
<!-- button 6-->	
	<a href="/spd/spd.html">
	<button type="button" class="btn btn-default">СПД</button>
	</a>

          {{ content }}

          <div class="footer">
            <div class="contact">
                E-mail:<br />
            </div>
            <div class="contact">
                <a href="mailto:support@blastcraft.net">support@blastcraft.net</a><br />
            </div>
	    <div>
                <!-- Yandex.Metrika informer 		
		<a href="https://metrika.yandex.ru/stat/?id=24258061&amp;from=informer"			
		target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/24258061/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
		style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:24258061,lang:'ru'});return false}catch(e){}"/></a>
		/Yandex.Metrika informer -->

	    </div>
          </div>
	  <br />
        </div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter24258061 = new Ya.Metrika({id:24258061,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/24258061" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

    </body>
</html>
