<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <!-- <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a> -->
            <img src="/img/logo.png">
	    <p></p>
          </div>
			
<!-- global menu -->

<!-- button 1-->			
	<div class="btn-group">
  		<button type="button" class="btn btn-primary">Оборудование</button>
  		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    			<span class="caret"></span>
    			<span class="sr-only">Toggle Dropdown</span>
  		</button>
  		<ul class="dropdown-menu" role="menu">
    			<li><a href="#">Измеритель интервалов времени</a></li>
  		</ul>
	</div>
<!-- button 2-->			
	<div class="btn-group">
  		<button type="button" class="btn btn-success">Программы</button>
  		<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
    			<span class="caret"></span>
    			<span class="sr-only">Toggle Dropdown</span>
  		</button>
  		<ul class="dropdown-menu" role="menu">
    			<li><a href="#">Состав продуктов взрыва</a></li>
    			<li><a href="#">Параметры детонации ВВ</a></li>
  		</ul>
	</div>
<!-- button 3-->			
	<div class="btn-group">
  		<button type="button" class="btn btn-info">Статьи</button>
  		<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    			<span class="caret"></span>
    			<span class="sr-only">Toggle Dropdown</span>
  		</button>
  		<ul class="dropdown-menu" role="menu">
    			<li><a href="#">Action</a></li>
    			<li><a href="#">Another action</a></li>
    			<li><a href="#">Something else here</a></li>
    			<li class="divider"></li>
    			<li><a href="#">Separated link</a></li>
  		</ul>
	</div>


          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Your Name<br />
                What You Are<br />
                you@example.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/yourusername">github.com/yourusername</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
              </p>
            </div>
          </div>
        </div>
		
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
    </body>
</html>
